.service__container {
	display: grid;
	grid-template-columns: 16% 84%;
	margin: 32px;
	border: solid rgba(155, 155, 155, 0.2);

}
.services__container {
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 96px;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: start;

}
.service__text {
	font-size: 1.4em;
	font-family: "FreakGrotesque Next", sans-serif;
	color: white;
	margin-bottom: 16px;
	line-height: 1.4;
}
.service__title {
	font-size: 1.6em;
	font-family: "FreakGrotesque Next", sans-serif;
	color: white;
	text-decoration: underline;
	margin-bottom: 12px;
}

.service__text-container {

}
