.showreel {
  background: #fbfbfb;
  padding: 32px 0;
}
.showreel__title {
  margin: 16px 120px 32px;
  color: black;
}
.showreel__container {

  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 120px;
}

.showreel__image {
  margin: 12px 8px;
}

.showreel__image img{
  max-height: 480px;
  box-shadow: 0 2px 8px 2px #eee;
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  .showreel__image img{
    max-height: 320px;
  }
}
