.showreel {
  width: 100%;
  background: white;
  padding: 32px 0;
}
.showreel__title {
  margin: 16px 120px 32px;
  color: black;
}
.showreel__container {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin: 0 120px;
}

.showreel__image {
  margin: 8px;
}

.showreel__image img{
  max-height: 480px;
}
