.showreel {
  background: #fbfbfb;
  padding: 32px 0;
}
.showreel__title {
  margin: 16px 120px 32px;
  color: black;
}
.showreel__container {

  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 120px;
}

.showreel__image {
  margin: 12px 8px;
  box-shadow: 0 2px 8px 2px #eee;
}


#image-1 {
  background-image: url("https://github.com/filippogianessi/web-cv/blob/master/asset/showreel/1.png?raw=true");
  background-size: cover;
}
#image-2 {
  background-image: url("./asset/showreel/5.png");
  background-size: cover;
}
#image-3 {
  background-image: url("./asset/showreel/11.png");
  background-size: cover;
}
#image-4 {
  background-image: url("./asset/showreel/4.png");
  background-size: cover;
}
#image-5 {
  background-image: url("./asset/showreel/9.png");
  background-size: cover;
}
#image-6 {
  background-image: url("./asset/showreel/2.png");
  background-size: cover;
}
#image-7 {
  background-image: url("./asset/showreel/3.png");
  background-size: cover;
}
#image-8 {
  background-image: url("./asset/showreel/6.png");
  background-size: cover;
}
#image-9 {
  background-image: url("./asset/showreel/7.png");
  background-size: cover;
}
#image-10 {
  background-image: url("./asset/showreel/8.png");
  background-size: cover;
}
#image-11 {
  background-image: url("./asset/showreel/10.png");
  background-size: cover;
}
