h1 {
  	font-size: 3em;
  	font-family: "FreakGrotesque Next", sans-serif;
  	color: white;
}

h2 {
  font-size: 2em;
  font-family: "FreakGrotesque Next", sans-serif;
  color: white;
}

p {
  	font-size: 1em;
  	font-family: "FreakGrotesque Next", sans-serif;
  	color: white;
}
